.event-scheduler {
  &.theme--colorful {
    .es-calendar {
      .calendar__content {
        $colors: #e0f7fa, #ffebee, #fff3e0, #e1f5fe, #e3f2fd, #f3e5f5;

        @for $i from 1 through length($colors) {
          $bg_color:  nth($colors, $i);
          $border_color: scale-color($bg_color, $lightness: -10%, $saturation: -25%);
          $text_color: scale-color($bg_color, $lightness: -75%, $saturation: -40%);

          .calendar__row:nth-child(6n + #{$i}) {
            .event {
              background-color: $bg_color;
              border: 1px solid $border_color;
              color: $text_color;
            }
          }
        }
      }
    }
  }
}
