{{!-- {{#if displayTimeFieldDialog}}
  {{#app-components/modal-dialog
    type="prompt"
    size="small"
    className="fsm-scheduler"
  }}
    <div class="form-dialog mb-10">
      <span class="text__content text--medium text--semibold confirm-dialog-title">{{t 'event_scheduler.update_start_time.title'}}</span>
    </div>
    {{ui-components/event-scheduler/time-field-dialog
      data-test-es="time-field-dialog"
      selectedDate=selectedDate
      timePickerConfig=timePickerConfig
      onStartTimeUpdate=(action 'updateStartTime' displayTimeFieldDialog)
      onClose=(action (mut displayTimeFieldDialog false))
    }}
  {{/app-components/modal-dialog}}
{{/if}} --}}
