.es-calendar {
  .calendar__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .calendar__row {
      &--empty {
        flex-grow: 1;
      }

      &:nth-child(even) {
        .calendar__row__name {
          background-color: $bg-alt-row;
        }

        .calendar__row__grid {
          background-color: $bg-alt-row;
        }

        .extended-event {
          border-color: $bg-alt-row;
          border-right-color: transparent;
        }
      }

      .calendar__row__grid {
        padding: 6px 0;
        grid-row-gap: 6px;

        &.activated {
          background: $bg-drag-zone;
        }
      }
    }
  }
}