.es-calendar {
  .calendar__header {
    position: sticky;
    top: 0;
    z-index: 2;

    .calendar__row {
      min-height: 100px;
      background-color: $bg-light;

      &__name {
        font-weight: $font-weight-semibold;
        font-size: $font-size-medium;
      }

      &__slot {
        font-size: $font-size-xsmall;
        background: $bg-light;
        border-right: solid 1px $table-border;
        flex-direction: column;

        @extend .d-flex;
        @extend .align-items--center;
        @extend .justify-content--center;

        &:last-child {
          border-right: none;
        }

        .es-day-number {
          padding: 0;
          margin-top: 6px;
          font-size: $font-size-small;
          height: 32px;
          min-width: 32px;
          border-radius: 4px;

          &:hover {
            background: $icon-hover-bg;
            border: 1px solid $icon-hover-bg;
          }

          &--today {
            background: $btn-primary;
            color: $text-light;
            border-color: $btn-primary;

            &:hover {
              background: $btn-primary;
              border: 1px solid $btn-primary;
            }
          }

          &--selected {
            border: 1px solid $btn-primary;

            &:hover {
              border: 1px solid $btn-primary;
            }
          }
        }
      }
    }
  }

  &.day-view {
    .calendar__row__slot {
      border: none;
      border-bottom: solid 1px $table-border;
    }
  }

  &.week-view,
  &.month-view {
    .calendar__header {
      .calendar__row__grid {
        grid-auto-rows: 100px;
        grid-template-rows: 100px;
      }
    }
  }
}