.es-calendar-container {
  position: relative;
  height: 600px;
  overflow: scroll;
  margin: 8px;
  background: $bg-light;

  @extend %box-shadow--default;
}

.es-calendar {
  position: absolute;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;

  @extend .d-flex;

  .calendar__row {
    display: flex;

    &__name {
      width: 200px;
      min-width: 200px;
      position: sticky;
      left: 0;
      border-right: solid 1px $table-border;
      border-bottom: solid 1px $table-border;
      background-color: $bg-light;
      z-index: 1;
      // box-shadow: 1px 12px 18px 0 rgba(18, 52, 77, 0.06);

      @extend .d-flex;
      @extend .align-items--center;
      @extend .justify-content--center;

      .resource-name {
        padding: 10px;

        @extend .ellipsis;
      }
    }

    &__grid {
      position: relative;
      display: grid;
      grid-auto-rows: 50px;
      grid-template-rows: 50px;
      grid-auto-flow: dense;
      flex-grow: 1;
      border-bottom: solid 1px $table-border;
    }
  }

  &.day-view {
    .calendar__row {
      &__grid {
        grid-template-columns: repeat(48, 50px);
        background: repeating-linear-gradient(90deg, transparent, transparent 49px, $table-border 49px, $table-border 50px);
      }
    }
  }

  &.week-view {
    .calendar__row {
      &__grid {
        grid-template-columns: repeat(7, minmax(120px, 1fr));
        background: repeating-linear-gradient(90deg, transparent, transparent calc((100% / 7) - 1px), $table-border calc((100% / 7) - 1px), $table-border calc(100% / 7));
      }
    }
  }

  @for $i from 28 through 31 {
    &.month-view.month-#{$i} {
      .calendar__row__grid {
        grid-template-columns: repeat(#{$i}, minmax(120px, 1fr));
        background: repeating-linear-gradient(90deg, transparent, transparent calc((100% / #{$i}) - 1px), $table-border calc((100% / #{$i}) - 1px), $table-border calc(100% / #{$i}));
      }
    }
  }
}