.es-calendar {
  .calendar-content {
    .calendar__row {
      &--empty {
        height: 100%;
      }

      &:nth-child(even) {
        .calendar__row__name {
          background-color: $bg-primary;
        }

        .calendar__row__grid {
          background-color: $bg-primary;
        }

        .extended-event {
          border-color: $bg-primary;
          border-right-color: transparent;
        }
      }

      &__grid {
        padding: 6px 0;
        grid-row-gap: 6px;

        &.activated {
          background: $bg-drag-zone;
        }
      }
    }
  }
}