.event-scheduler {
  display: flex;
  background: $bg-app;
  min-width: 900px;

  .es-app-overlays {
    .modal-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      transition: .2s ease-in;
      animation: fadeInDelay .2s ease-in;
      overflow: hidden;

      .modal-overlay {
        background: $bg-light;
        border-radius: $radius;
        width: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &__header,
        &__body {
          margin: 1rem;
        }

        &__footer {
          padding: 1rem;
          background: $bg-secondary;
        }
      }
    }
  }

  .sidebar {
    position: relative;
    flex: 1;
    border-right: solid 1px $border-primary;
    margin: 0;
    padding: 0;
    background: inherit;
  }

  .main-content {
    flex: 3;
  }
}
