.app-icon {
  width: 14px;
  height: 14px;
}

button {
  cursor: pointer;
  background: white;
  font-size: 14px;
  border-radius: 4px;
  min-width: 80px;
}

.icon-btn {
  padding-top: 5px;
  min-width: 32px;
}