button {
  cursor: pointer;
}

.btn {
  padding: 4px 15px 5px;
  background: $bg-light;
  border: solid 1px $border-primary;
  font-size: 14px;
  border-radius: 4px;
  min-width: 80px;

  &--primary {
    background: $btn-primary;
    color: $text-light;
  }
}

.btn-icon {
  padding: 5px 7px 2px;
  min-width: 32px;

  &--active {
    border: 1px solid $btn-active-border;
    box-shadow: inset 0 0 4px 0 rgba(39,49,58,.26);
  }
}

.btn-toggle {
  transition: transform .1s linear;
  display: inline-block;

  &--expanded {
    transform: rotateY(180deg)
  }
}

.app-icon {
  width: 14px;
  height: 14px;
}