.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  &--align-right {
    text-align: right;
  }

  &--default {
    font-size: $font-size-small;
  }

  &--xxmedium {
    font-size: $font-size-large;
  }

  &--semi-bold {
    font-weight: $font-weight-semibold;
  }
}