// event scheduler base variables

$border-primary: #ebeef0;

$text-light:  #fff;

$bg-app: #ebeff3;
$bg-light: #fff;
$bg-grey:#f8f9fa;
$bg-primary: #f4f9ff;
$bg-secondary: #f5f7f9;
$bg-drag-zone: rgba(188, 229, 255, 0.7);

$event-bg: #424379;
$event-bg-hover: #12344d;
$event-border: #fff;
$event-focus-border: #2e6ed8;

$icon-color: #12344d;

// Font variables
$font-weight-semibold: 500;

$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;

$radius: 4px;