{{log canDisplayEvent}}
{{#if canDisplayEvent}}
  {{#ember-wormhole destinationElement=resource}}
    {{#event-scheduler/calendar/wrappers/event/event-card
      event=event
      draggable=draggable
    }}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        <div class="event">{{event.title}}</div>
      {{/if}}
    {{/event-scheduler/calendar/wrappers/event/event-card}}
  {{/ember-wormhole}}
{{/if}}
