{{#if canDisplayEvent}}
  {{#ember-wormhole destinationElement=resource}}
    {{#event-scheduler/calendar/wrappers/event/event-card
      event=event
      draggable=draggable
    }}
      <div class="event" data-name="event">
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{event.title}}
        {{/if}}
      </div>
    {{/event-scheduler/calendar/wrappers/event/event-card}}
  {{/ember-wormhole}}
{{/if}}
