<div class="calendar__row__name" data-test-es='resource'>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <div class="resource-name">{{resource.name}}</div>
  {{/if}}
</div>
{{event-scheduler/calendar/wrappers/resource/resource-grid
  viewType=viewType
  viewConfig=viewConfig
  slotConfig=slotConfig
  resourceId=resource.id
  selectedDate=selectedDate
  selectedDuration=selectedDuration
  onEventDrop=onEventDrop}}