@import "ember-power-select";
@import "ember-power-calendar";
@import "ember-event-scheduler-colorful-theme";

.es-calendar-picker {
  @include ember-power-calendar($cell-size: 30px);
}

:root {
  --brand-primary: #424379;
}

svg {
  display: inline;
}

.hero-image {
  width: 400px;
  height: auto;
  margin: auto;
  padding: 2rem;
}

.overflow {
  &--scroll {
    overflow: scroll;
  }
}

.hide-container {
  .es-calendar-container {
    display: none;
  }
}

.text-color--salmon {
  color: salmon;
}
