{{#event-scheduler/ui-components/modal-dialog as |dialog|}}
  {{#dialog.header}}
    <h4 class="form-dialog mb-10">Set appointment start time</h4>
  {{/dialog.header}}
  {{#dialog.body}}
    {{#power-select
        options=timeFieldChoices
        searchEnabled=false
        selected=selectedTime
        onchange=(action "changeTime")
        as |time| }}
      {{time}}
    {{/power-select}}
  {{/dialog.body}}
  {{#dialog.footer}}
    <div class="text--align-right">
      <button aria-label="cancel" class="btn btn--secondary" data-test-id="cancel-start-time" {{action "onCancel"}}>
        Cancel
      </button>
      <button aria-label="continue" class="btn btn--primary" data-test-id="update-start-time" {{action "onUpdate"}}>
        Continue
      </button>
    </div>
  {{/dialog.footer}}
{{/event-scheduler/ui-components/modal-dialog}}
