<aside class="sidebar">
  {{yield (hash
    externalEvents=(component "event-scheduler/external-events"
      externalEventsInst=externalEventsInst
      config=config.externalEvents))}}
</aside>

<section class="main-content">
  {{yield (hash
    calendar=(component "event-scheduler/calendar"
      selectedDuration=selectedDuration
      calendarInst=calendarInst))}}
</section>
