<div id="es-app-overlays" class="es-app-overlays"></div>
{{#if canShowExternalEvents}}
  <aside class="sidebar">
    {{yield (hash externalEvents=(component "event-scheduler/external-events"
      externalEventsInst=externalEventsInst
      config=config.externalEvents))}}
  </aside>
{{/if}}

<section class="main-content">
  <div class="es-container" data-test-es="es-container">
    {{yield (hash toolbar = (component "event-scheduler/toolbar"
      calendarInst=calendarInst
      onCalendarRefresh=onCalendarRefresh
    ))}}
    <div class="es-calendar-container">
      {{yield (hash
        calendar=(component "event-scheduler/calendar"
          calendarInst=calendarInst
          onEventDrop=(action "updateExternalEventAndBubble")
          onCalendarRefresh=onCalendarRefresh
          ))}}
    </div>
  </div>
</section>
