<div id="es-app-overlays" class="es-app-overlays"></div>
{{#if config.hasExternalEvents}}
  <aside class="sidebar {{if isExternalEventsExpanded "show" "hide"}}">
    {{yield (hash externalEvents=(component "event-scheduler/external-events"
      config=config.externalEvents
      events=externalEvents
      ))}}
  </aside>
{{/if}}

<section class="main-content">
  <div class="es-container" data-test-es="es-container">
    {{yield (hash toolbar = (component "event-scheduler/toolbar"
      config=config
      viewConfig=viewConfig
      slotConfig=slotConfig
      viewType=viewType
      isExternalEventsExpanded=isExternalEventsExpanded
      selectedView=selectedView
      selectedDuration=selectedDuration
      selectedDate=selectedDate
    ))}}
    <div class="es-calendar-container">
      {{yield (hash
        calendar=(component "event-scheduler/calendar"
          config=config
          viewConfig=viewConfig
          slotConfig=slotConfig
          viewType=viewType
          slots=slots
          selectedView=selectedView
          selectedDuration=selectedDuration
          selectedDate=selectedDate
          events=events
          resources=resources
          onEventUpdate=(action 'triggerEventDrop')
          ))}}
    </div>
  </div>
</section>
