<div id="es-app-overlays" class="es-app-overlays"></div>
{{#if canShowExternalEvents}}
  <aside class="sidebar">
    {{yield (hash externalEvents=(component "event-scheduler/external-events"
      config=config.externalEvents))}}
  </aside>
{{/if}}

<section class="main-content">
  <div class="es-container" data-test-es="es-container">
    {{yield (hash toolbar = (component "event-scheduler/toolbar"
      selectedView=selectedView
      selectedDuration=selectedDuration
      selectedDate=selectedDate
      config=config
      viewConfig=viewConfig
      slotConfig=slotConfig
      onCalendarRefresh=onCalendarRefresh
    ))}}
    <div class="es-calendar-container">
      {{yield (hash
        calendar=(component "event-scheduler/calendar"
          selectedView=selectedView
          selectedDuration=selectedDuration
          selectedDate=selectedDate
          config=config
          viewConfig=viewConfig
          slotConfig=slotConfig
          onEventDrop=(action "updateExternalEventAndBubble")
          onCalendarRefresh=onCalendarRefresh
          ))}}
    </div>
  </div>
</section>
