<div id="es-app-overlays" class="es-app-overlays"></div>
{{#if canShowExternalEvents}}
  <aside class="sidebar">
    {{yield (hash externalEvents=(component "event-scheduler/external-events"
      config=config.externalEvents
      isLoading=isExternalEventsLoading
      isAllLoaded=isExternalEventsLoadedAll
      publicAPI=publicAPI
      events=externalEvents
      ))}}
  </aside>
{{/if}}

<section class="main-content">
  <div class="es-container" data-test-es="es-container">
    {{yield (hash toolbar = (component "event-scheduler/toolbar"
      config=config
      viewConfig=viewConfig
      slotConfig=slotConfig
      viewType=viewType
      selectedView=selectedView
      selectedDuration=selectedDuration
      selectedDate=selectedDate
      publicAPI=publicAPI
    ))}}
    <div class="es-calendar-container">
      {{yield (hash
        calendar=(component "event-scheduler/calendar"
          config=config
          viewConfig=viewConfig
          slotConfig=slotConfig
          viewType=viewType
          slots=slots
          selectedView=selectedView
          selectedDuration=selectedDuration
          selectedDate=selectedDate
          isLoading=isCalendarLoading
          publicAPI=publicAPI
          events=events
          resources=resources
          onEventDrop=onEventDrop
          ))}}
    </div>
  </div>
</section>
