{{docs-hero}}

{{!-- <div style="max-width: 40rem; margin: 0 auto; padding: 0 1.5rem">
  {{#docs-demo as |demo|}}
    {{#demo.example name="my-demo.hbs"}}
      <p>Manage appointments, tasks and schedulers for multiple resources (people, projects, etc.)</p>
    {{/demo.example}}
  {{/docs-demo}}
</div> --}}

{{svg-jar "scheduler" class="hero-image"}}
